numpy
torch==1.13.1
torchvision
matplotlib
scipy
h5py
pandas
kornia
wandb
pytorch-lightning==1.5.10
seaborn
scikit-learn
imageio
imageio-ffmpeg
gradio

transformers
tqdm
torchviz  
torchmetrics
scikit-image 
rembg 
Pillow 
opencv-python 
huggingface-hub
einops
fvcore
iopath
# pytorch3d # Should install with conda not pip
